S3method(ImpPlot,regRSM)
S3method(plot,regRSM)
S3method(predict,regRSM)
S3method(print,regRSM)
S3method(validate,regRSM)
S3method(summary,regRSM)
S3method(roc,regRSM)
S3method(regRSM,formula)
S3method(regRSM,default)

export(ImpPlot,
regRSM,
regRSM.default,
regRSM.formula,
validate,
roc
)

import(Rmpi)
import(doParallel)
import(parallel)
import(foreach)
importFrom("graphics", "dotchart", "legend", "plot")
importFrom("stats", "coef", "complete.cases", "cor", "lm",
             "model.frame", "model.matrix", "model.response", "quantile",
             "runif")
importFrom("utils", "installed.packages")
